$font-family: 'Overpass', sans-serif;
$very-dark-blue: hsl(216, 12%, 8%);

body {
  margin: 0;
  font-family: $font-family;
  background-color: $very-dark-blue;
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
